extends layout/base

block block 
  .m-auto
    h3.logo.text-dark.text-center.mt-4
      | Akstar
      span.logo-sub.color-y .com
    .input-shadow.rounded.bg-white.w-50.m-auto.mt-4.mb-4.width-100
      .text-center
      .p-1.justify-content-center.text-center
      .card.shadow.p-3
        h5.fw-bold.mb-3 NEW LOGIN
        form#send_otp
            input#phone_num.form-control.w-75.m-auto.mb-3.bg-light(type='text' placeholder='Mobile Number')           
            .d-grid
              button.btn-block.buy-now(type="submit") CONTINUE
            p.product-des.mt-3 Have trouble logging in?  
              span.color-main.fw-bold Get help
            #otp_section.d-none
              input#verification_otp.form-control.w-50.mb-3.m-auto.mt-3.bg-light(type='text' placeholder='Enter OTP')
              .d-grid
                button.btn-block#verify_otp.buy-now(type="button") LOGIN
          
