extends layout/base

block block 
    // Thank you Section
    .pt-5.pb-5.text-center.bg-white
        img.w-25.m-auto.text-center(src='/Assets/Images/thank_2.png' alt='mouse corsair')
        h3.text-dark.fw-bold.mt-5 Thank you for shopping
        p.text-secondary.m-auto.text-center.w-50.mb-5
            | Thanks for your order! We&rsquo;ll let you know as soon as it ships. In the
            | meantime, reach out to our friendly support team with any questions you
            | have. They&rsquo;re super nice.
        a.text-center.common-button.bg-y(href='/shop') Go Back to Shop
